#header {
    background-color: #ddeeee;
}

.tables {
    /* display: block; */
    /* overflow-x: auto; */
    white-space: nowrap;
    border: 1px solid #6c757d;
    border-collapse: collapse;
}

.tables tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.tables tbody tr:hover {
    color: #000000;
    background-color: rgba(47, 95, 153, 0.2);
}

.tables td {
    border: 1px solid #6c757d;
}

.bg-th {
    background-color: #ffddaa;
}

.sticky-th {
    position: sticky;
    overflow: hidden;
    top: 0;
}

.th-inner {
    border-top: 0px solid #6c757d;
    border-left: 0px solid #6c757d;
    border-right: 1px solid #6c757d;
    border-bottom: 2px solid #000000;
}

.small-2 {
    font-size: 92.5%;
}

sup {
    position: relative;
    font-size: 60%;
    line-height: 0;
    vertical-align: baseline;
    top: -0.50em;
    /* text-decoration: underline; */
    font-style: italic;
}
